.portfolio {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vh;
}

.projects-btn {
  button {
    width: 200px;
    padding: 30px;
    border-radius: 30%;
    margin: 15px;
    background: rgba($color: skyblue, $alpha: 0.6);
    color: black;
    font-size: 30px;
    font-weight: 600;
  }
}
